In [1]:
# Importações gerais
import pandas as pd

In [2]:
# Importando a base estática de jogadores da NBA
from nba_api.stats.static import players
# Pega uma lista de dicionários, cada um um jogador
nba_players = players.get_players()

In [3]:
###### TROCAR O NOME DO JOGADOR AQUI ##########
nome = 'Jimmy Butler'
# Acha o dicionário correspondente ao jogador desejado
jogador = [player for player in nba_players
                   if player['full_name'] == nome][0]
jogador

{'id': 202710,
 'full_name': 'Jimmy Butler',
 'first_name': 'Jimmy',
 'last_name': 'Butler',
 'is_active': True}

In [4]:
# Importando a API que acha os jogos
from nba_api.stats.endpoints import leaguegamefinder
# Procurando os jogos que o jogador participou
gamefinder = leaguegamefinder.LeagueGameFinder(player_id_nullable=jogador['id'])
jogos = gamefinder.get_data_frames()[0]
jogos.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612748,MIA,Miami Heat,0022000773,2021-04-06,MIA vs. MEM,L,35,28,...,0.833,1,2,3,5,2,0,1,1,0.2
1,22020,1610612748,MIA,Miami Heat,0022000749,2021-04-03,MIA vs. CLE,W,32,15,...,1.000,2,4,6,11,2,0,1,2,2.2
2,22020,1610612748,MIA,Miami Heat,0022000733,2021-04-01,MIA vs. GSW,W,35,22,...,0.778,1,5,6,8,4,0,1,2,2.0
3,22020,1610612748,MIA,Miami Heat,0022000722,2021-03-31,MIA @ IND,W,37,18,...,0.857,1,3,4,4,2,1,2,1,1.2
4,22020,1610612748,MIA,Miami Heat,0022000710,2021-03-29,MIA @ NYK,W,34,27,...,0.875,1,4,5,6,0,1,1,2,1.2

In [5]:
#A coluna de temporada tem um identificador numérico de tipo logo antes. Os ids de temporada regular começam com o número 2
jogos.groupby(jogos.SEASON_ID)[['GAME_ID']].count()

           GAME_ID
SEASON_ID
12011            2
12012            7
12013            5
12014            6
12015            8
12016           10
12017            3
12019            5
22011           42
22012           82
22013           67
22014           65
22015           67
22016           76
22017           59
22018           65
22019           58
22020           36
32014            1
32016            1
32019            1
42011            3
42012           12
42013            5
42014           12
42016            6
42017            5
42018           12
42019           21

In [6]:
# Vamos fazer esse corte e manter apenas o ano
jogos = jogos[jogos['SEASON_ID'].str[0] == '2']
jogos['SEASON_ID'] = jogos['SEASON_ID'].str[-4:]

In [11]:
# Trocando o nome da coluna de temporada
colunas = list(jogos.columns)
colunas[0] = 'SEASON'
jogos.columns = colunas

In [12]:
# Criando uma coluna para dizer se o time jogou em casa
jogos['HOME'] = jogos['MATCHUP'].str[4:5] == 'v'

In [13]:
# Dimensões dos dados
jogos.shape

(617, 29)

In [14]:
# Tipos das colunas
jogos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617 entries, 0 to 739
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON             617 non-null    object
 1   TEAM_ID            617 non-null    int64
 2   TEAM_ABBREVIATION  617 non-null    object
 3   TEAM_NAME          617 non-null    object
 4   GAME_ID            617 non-null    object
 5   GAME_DATE          617 non-null    object
 6   MATCHUP            617 non-null    object
 7   WL                 617 non-null    object
 8   MIN                617 non-null    int64
 9   PTS                617 non-null    int64
 10  FGM                617 non-null    int64
 11  FGA                617 non-null    int64
 12  FG_PCT             599 non-null    float64
 13  FG3M               617 non-null    int64
 14  FG3A               617 non-null    int64
 15  FG3_PCT            515 non-null    float64
 16  FTM                617 non-null    int64
 17  FTA                617 non-null    int64
 18  FT_PCT             546 non-null    float64
 19  OREB               617 non-null    int64
 20  DREB               617 non-null    int64
 21  REB                617 non-null    int64
 22  AST                617 non-null    int64
 23  STL                617 non-null    int64
 24  BLK                617 non-null    int64
 25  TOV                617 non-null    int64
 26  PF                 617 non-null    int64
 27  PLUS_MINUS         617 non-null    float64
 28  HOME               617 non-null    bool
dtypes: bool(1), float64(4), int64(17), object(7)
memory usage: 140.4+ KB

In [17]:
# Transformando IDs em numéricos
jogos['SEASON'] = pd.to_numeric(jogos['SEASON'])
jogos['GAME_ID'] = pd.to_numeric(jogos['GAME_ID'])

In [18]:
# Conferindo
jogos.tail().T

,735,736,737,738,739
SEASON,2011,2011,2011,2011,2011
TEAM_ID,1610612741,1610612741,1610612741,1610612741,1610612741
TEAM_ABBREVIATION,CHI,CHI,CHI,CHI,CHI
TEAM_NAME,Chicago Bulls,Chicago Bulls,Chicago Bulls,Chicago Bulls,Chicago Bulls
GAME_ID,21100130,21100110,21100087,21100077,21100062
GAME_DATE,2012-01-09 00:00:00,2012-01-07 00:00:00,2012-01-04 00:00:00,2012-01-03 00:00:00,2012-01-01 00:00:00
MATCHUP,CHI vs. DET,CHI @ ATL,CHI @ DET,CHI vs. ATL,CHI vs. MEM
WL,W,L,W,W,W
MIN,3,12,1,1,6
PTS,2,12,2,0,2
FGM,1,3,0,0,1
FGA,1,3,0,0,2
FG_PCT,1.0,1.0,NaN,NaN,0.5
FG3M,0,0,0,0,0
FG3A,0,0,0,0,0
FG3_PCT,NaN,NaN,NaN,NaN,NaN
FTM,0,6,2,0,0
FTA,0,6,2,0,0
FT_PCT,NaN,1.0,1.0,NaN,NaN
OREB,0,2,0,0,1
DREB,0,1,1,0,1
REB,0,3,1,0,2
AST,0,0,0,0,0
STL,0,0,0,0,0
BLK,0,0,1,0,0
TOV,0,0,0,0,0
PF,0,0,0,0,0
PLUS_MINUS,0.4,1.6,0.0,0.0,-0.8
HOME,True,False,False,True,True

In [19]:
arquivo = nome+'.csv'
jogos.to_csv(arquivo)